<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <h1>WillDo -ウィルドゥ-</h1>

    <form method="GET" action="/do">
    	<input type="text" name="address" id="address" />
    	<input type="submit" />
    </form>
  </body>
</html>