<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WillDo -ウィルドゥ-</title>

    <meta name="description" content="Source code generated using layoutit.com">
    <meta name="author" content="LayoutIt!">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAA5PmTLvL4mJoMcbP2s7BS5RSISr8FISXKAxN8mqh6f4UnxxOMoBTjZE1UqX5q96BXt4DgU_r5y2rvnw" type="text/javascript"></script>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/scripts.js"></script>
  </head>


  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
              </button> <a class="navbar-brand" href="/">WillDo</a>
            </div>
        
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <form class="navbar-form navbar-right" role="search" method="post" action="/">
                <div class="form-group">
                  <input type="text" name="address" id="address sub" class="form-control">
                </div> 
                <button type="submit" class="btn btn-default" id="search-btn">Search</button>
              </form>
            </div>
          </nav>
        </div>
      </div>

      <div class="row">

        <div id="messages">
          <% messages.forEach( function(message){ %>
            <div class="alert alert-warning alert-dismisable" role="alert" id="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="閉じる"><span aria-hidden="true">×</span></button>
              <p><strong>warning</strong>：<%= message %></p>
            </div>
          <% }) %>
        </div>

        <div class="col-md-offset-3 col-md-6">
          <div class="search-block">
            <h2 class="text-center">WillDo</h2><br>

            <form role="form" method="post" action="/">
              <div class="form-inline text-center">
                <input type="text" name="address" id="address main" class="form-control">
                <div id="here-block" style="display: inline-block;"></div>
                <!--<a class="here" id="here"><img src="../images/here.jpeg" class="here"></a>-->
                <button type="submit" class="btn btn-default" id="search-btn">Search</button>
              </div>
            </form>
            <p class="text-center" style="color: #CC3333; font-size: 12px;">ex.) 住所, 駅名, 郵便番号</p>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>