<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WillDo -ウィルドゥ-</title>

    <meta name="description" content="Source code generated using layoutit.com">
    <meta name="author" content="LayoutIt!">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>

  </head>


  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
              </button> <a class="navbar-brand" href="/">WillDo</a>
            </div>
        
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <form class="navbar-form navbar-right" role="search" method="GET" action="/">
                <div class="form-group">
                  <input type="text" name="address" id="address" class="form-control">
                </div> 
                <button type="submit" class="btn btn-default" id="search-btn">Search</button>
              </form>
            </div>
          </nav>
        </div>
      </div>




      <div class="row">
        <h2 class="text-center text-muted"><%= title %></h2>
        <% messages.forEach( function(message){ %>
          <div class="alert alert-warning alert-dismisable" role="alert" id="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="閉じる"><span aria-hidden="true">×</span></button>
            <p><strong>warning</strong>：<%= message %></p>
          </div>
        <% }) %>
        <% for(var i=0; i<50; i++){ %>
          <div class="col-md-3">
            <div class="jumbotron" style="margin: 10px; height: 300px;">
              <h2><%= i %></h2>
            </div>
          </div>
        <% } %>
      </div>
    </div>

    <script type="text/javascript"> 
    $(function() {
      // // var socket = io.connect('ws://' + location.host );
      //  var socket = io.connect('http://localhost:3000');
      // socket.on('error', function(reason) {
      //   console.log(reason);
      // });


      // socket.on('connect', function(msg) {
      //   console.log("サーバとクライアントでつながりました");
      //   socket.on('msg', function(msg) { 
      //     console.log(msg + "がサーバからとどいたよ！！");
      //     // alert(msg);
      //   });

      //   socket.emit("init", Date.now());
      // });

      var socket = io.connect('ws://localhost:3000/search');
      socket.on('connect', function() {
        socket.on('hello', function(msg){
          console.log(msg + "を受診");
          socket.emit('helloback', 'hellobackokok');
        });
        socket.emit('message from client', 'hello asasasasa');
      });
      var i = "ab";
      setInterval( function() {
        //socket.emit('message from client', i);
        // i += 'ab';

      }, 1000);
      socket.emit('message from client', 'hello');
      socket.on('message from server', function(message){
        console.log(message);
      });




    });
    </script>
  </body>
</html>