body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(../images/bg4.jpeg) center center / cover no-repeat fixed;
}
@media only screen and (max-width: 767px) {
  body {
    background-image: url(images/background-photo-mobile-devices.jpg);
  }
}


.navbar a {
  color: #00B7FF;
}

.search-block { 
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -300px;
  width: 600px;
  height: 300px;
  background-color: rgba(111, 123, 94, .5);
  padding: 20px;
  border-radius: 10px;
}
.search-block .logo{
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.search-block p {
	color: white;
}
.search-block p span {
  margin: 2px;
}


a.here {
  margin: 5px;
  padding: 0;
  color: #fff;
}

img.here, #search-btn, img.info {
  width: 40px;
  height: 40px;
  margin: 0;
  text-align: center;
}
#search-btn {
  position: relative; 
  bottom: 4px;
}
div.info {
  position: absolute;
  top: 30px;
  left: 30px;
}
a.here:active img, #search-btn:active, .info:active img{ opacity: .8; }

#search-btn:hover, a.here:hover img, a.info:hover img {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
}


/* willdoのスタイル */

.willdo {
  padding: 15px;
  margin-bottom: 20px;
  // border-right: 1px dotted black;
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}
.willdo .thumb{
  width: 100%;
  height: auto;
}

.willdo .inner {
  background-color: rgba(255, 255, 255, .7);
  border-radius: 0px 0px 10px 10px;
  padding: 0px;
}
.willdo .inner p, .willdo .inner b {
  padding: 5px;
  line-height: 1.6;
}
.willdo .inner .name {
  font-family:"メイリオ", sans-serif;
  margin-top: 60px;
  margin-bottom: 20px;
  // background: linear-gradient(transparent 80%, #ff99ff 80%);
  text-decoration: none;
}

.willdo .inner .pr {
  padding: 5px;
  margin-top: 20px;
}
.willdo .inner .open {

}
.willdo .inner .budget {

}



.willdo .plus {
  z-index: 1;
  position: absolute;
  top: 30px;
  right: 30px;
  display: none;
}

.willdo .inner .more {
  opacity:  0.5;
}
.willdo .inner .more:hover {
  opacity: 1;
}

/* ToGoList */
.ToGoList {
  position: fixed;
  top: 100px;
  right: 50px;
  background-color: rgba(255, 255, 172, .5);
  padding: 10px;
}
.ToGoList span {
  margin: 10px 0;
  line-height: 1.5;
}
.ToGo {
  width: 200px;
  list-style-type: none;
  overflow: scroll;
}
.ToGo li {
  position: relative;
  right: 20px;
  margin-bottom: 5px;
  border-bottom: 1px dotted rgba(255, 193, 109, .7);
}


